@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "./../../components/admin/utils/forms/index.css"; 
@import "./../../components/admin/utils/buttons/index.css"; 
@import "./../../components/main/utils/buttons/index.css"; 
@import "./../../components/main/utils/card/index.css"; 
@import "./../../components/main/utils/forms/index.css"; 
@import "./general.css"; 

@import "tailwindcss/utilities";


@font-face {
    font-family: "Gobold";
    font-weight: 300;
    src: url("./../fonts/Gobold\ Light.otf");
}

@font-face {
    font-family: "Gobold";
    font-weight: 400;
    src: url("./../fonts/Gobold\ Regular.otf");
}

@font-face {
    font-family: "Gobold";
    font-weight: 700;
    src: url("./../fonts/Gobold\ Uplow.otf");
}

@font-face {
    font-family: "Gobold";
    font-weight: 800;
    src: url("./../fonts/Gobold\ Bold.otf");
}

@font-face {
    font-family: "Mabry";
    font-weight: 300;
    src: url("./../fonts/Mabry\ Pro\ Light.otf");
}

@font-face {
    font-family: "Mabry";
    font-weight: 400;
    src: url("./../fonts/Mabry\ Pro\ Medium.otf");
}

@font-face {
    font-family: "Mabry";
    font-weight: 700;
    src: url("./../fonts/Mabry\ Pro\ Bold.otf");
}

@font-face {
    font-family: "Mabry";
    font-weight: 800;
    src: url("./../fonts/Mabry\ Pro\ Black.otf");
}

